.wrapper {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
  background-color: var(--yellow);
}

.card {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black);
  box-shadow: 8px 8px 0 var(--black);
  pointer-events: none;
}

.card:hover {
  box-shadow: 16px 16px 0 var(--black);
}

.card h1 {
  pointer-events: auto;
}

.card h1:hover {
  color: var(--yellow);
}

.card p {
  color: var(--grey);
  font-size: 16px;
}

.card__tag {
  background-color: var(--yellow);
}
