.wrapper {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayishblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
  background-color: var(--lightgray);
}

.card {
  background-color: var(--white);
}

.card__body h2 {
  color: var(--darkblue);
}

.card__body p {
  font-size: 15px;
  color: var(--grayishblue);
}
